---
layout: landing
---

<div class="home">

  <h2>Hey, I’m Kenrick and I am really passionate about bringing ideas to life through the Web.</h2>
  <p>I’m a Software Engineer, Entrepreneur and</p>
  <p id='iams'>
    &nbsp;
    {% for iam in site.iams %}
      <a {% if iam.link %} href="{{ iam.link }}" {% endif %} class="iams" style="color: {{ iam.color }};"> {{ iam.sentence }} </a>
    {% endfor %}
  </p>
  <p>Feel free to get in <a href="mailto:{{ site.email }}">touch</a></p>

  <span class="divider"></span>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      </li>
    {% endfor %}
  </ul>

   <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
