---
layout: landing
---

<div class="home">
  <img id="gravatar" src="{{ site.gravatar_url }}?s=150" alt="Picture of {{ site.title }}" />
  <section id="social-icons">
    <ul class="list-inline">
      <li><a href="{{ site.twitter_url }}" class="fa fa-twitter fa-2x"></a></li>
      <li><a href="{{ site.github_url }}" class="fa fa-github fa-2x"></a></li>
      <li><a href="{{ site.linkedin_url }}" class="fa fa-linkedin fa-2x"></a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="fa fa-rss fa-2x"></a></li>
    </ul>
  </section>
  <h2>Hey, I’m Kenrick and I am really passionate about bringing ideas to life through the Web.</h2>
  <p>I’m a Software Engineer, Entrepreneur and</p>
  <p id='iams'>
    &nbsp;
    {% for iam in site.iams %}
      <a {% if iam.link %} href="{{ iam.link }}" {% endif %} class="iams" style="color: {{ iam.color }};"> {{ iam.sentence }} </a>
    {% endfor %}
  </p>
  <p>Feel free to get in <a href="mailto:{{ site.email }}">touch</a></p>

  <span class="divider"></span>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      </li>
    {% endfor %}
  </ul>
</div>
