.home {
  text-align: center;
  margin: 0 60px;

  #gravatar {
    margin-bottom: 15px;
    border-radius: 50%;
    border: $brand-color 5px solid;
  }

  #social-icons {

    a {

      color: $dark-brand-color;
      border:  $dark-brand-color 2px solid;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: block;
      padding: 6px 4px 0px 4px;

      &:hover {
        text-decoration: none;
        color: white;

        &.fa-twitter {
          background-color: #55ACEE;
          border-color: #55ACEE;
        }

        &.fa-linkedin {
          background-color: #007bb6;
          border-color: #007bb6;
        }

        &.fa-github {
          background-color: #111;
          border-color: #111;
        }

        &.fa-rss {
          background-color: #FF6600;
          border-color: #FF6600;
        }

      }
    }

  }

  @include media-query($on-laptop) {
    margin: 0;
  }

  h2 {
    line-height: 37px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  p {
    font-weight: 300;
    color: #a3a3a3;
    font-size: 25px;
    line-height: 1;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  .iams {
    visibility: hidden;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  #iams {
    position: relative;
  }

  .divider {
    display: block;
    background: $cyan-brand-color;
    margin: 60px auto;
    height: 1px;
    width: 50px;

    @include media-query($on-palm) {
      margin: 35px auto;
      width: 100%;
    }
  }
}
